.photo {
  width: 15%;
}

.memberDetailPage {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.memberDetailImg {
  width: 25%;
  padding: 2px;
  border: 1px grey solid; 
}

.memberUpdateImg {
  display: block;
  width: 25%;
  padding: 2px;
  border: 1px grey solid;
}

.backBtn {
  height: 30px;
}

.updateBtn {
  height: 30px;
}
